<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Empressiv Radio</title>
</head>
<body>
    

<br><br>
    

<div class="main_login">
    <h1 class="main_login2">Empressiv Member Sign-up </h1>
    <hr>
    <h4> Are You New To Empressiv? Sign-In !</h4>
    <form action="/users" method="POST">
      <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
      <input type="name" name="user[name]" placeholder="Enter Name">
      <input type="email" name="user[email]" placeholder="Enter Valid Email">
      <input type="password" name="user[password]" placeholder="Create Password">
      <input type="password" name="user[password_confirmation]" placeholder="Confirm Password">
      <input type="submit" name="Create MyNinja" class="submit">
    </form>

  <div class = "errors">
      <%if flash[:register_errors]%> 
      <%flash[:register_errors].each do |error|%>
      <p><%error%></h6>
        <%end%>
      <%end%>
</div>

<%# <img class="ninja_float"src="https://thumbs.gfycat.com/PerkyIdolizedJuliabutterfly-size_restricted.gif"> %>
  
<h4> All My Day-ONES LogBackIn ! </h4>

<form action = "/sessions" method= "POST"> 
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    <input type="email" name="login[email]" placeholder=" Enter Email ">
    <input type="password" name="login[password]" placeholder=" Enter Password"> 
    <input type="submit" name="submit" class="submit">
</form>
  <div class = "errors">
      <%if flash[:login_errors]%> 
      <%flash[:login_errors].each do |error|%>
      <p class="error_handle"><%error%></a>
        <%end%>
      <%end%>

  </div>
</div> 
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

</body>
</html>