   
<div class="spacing">   
<%if @current_user %>

 <%= button_to " Return Login/Signup", new_session_path%> 
  <div class="snippet_parent">
  <h1 class="user_glam" > Welcome 
  <img class="emp_logo" src="https://media.giphy.com/media/l4FGCFqPERkNp50SA/giphy.gif">
  <%=@current_user.name%>, </h1>
  <%=button_to " Sign Out of All Accounts", session_path("Log-out"),method: :delete %> 
  

      
  <hr>       
</div>
<% end %>


<div class = "user_subtitle_new">
<hr>
<div class="video_screen"> Song.name </div>

<hr>
<%# radioParent %>

<div class="genre_parent">

  <div class="genre_style_parent">
      <button class="genre_name">Love </button>
          <button class="genre_switch">ON/OFF</button>

      <button class="genre_name">Island </button>
          <button class="genre_switch">ON/OFF</button>

      <button class="genre_name">NYC </button>
          <button class="genre_switch">ON/OFF</button>

      <button class="genre_name">Cali </button>
          <button class="genre_switch">ON/OFF</button>

      <button class="genre_name"> 420  </button>
          <button class="genre_switch">ON/OFF</button>

      <button class="genre_name">90s Classics
          <button class="genre_switch">ON/OFF</button>

      <button class="genre_name">Instrumentals</button>
          <button class="genre_switch">ON/OFF</button>

  </div>          
</div>
</div>
<br>
<div class = "user_subtitle">
<img class="queen"src="https://thumbs.gfycat.com/LonelySecondaryAracari-size_restricted.gif">
<%# queen....changed %>
</div>
   
  </body>