   
<div class="spacing">   
<%if @current_user %>

 <%= button_to " Return Login/Signup", new_session_path%> 
  <div class="snippet_parent">
  <h1 class="user_glam" > Welcome 
  <img class="emp_logo" src="https://media.giphy.com/media/l4FGCFqPERkNp50SA/giphy.gif">
  <%=@current_user.name%>, </h1>
  <%=button_to " Sign Out of All Accounts", session_path("Log-out"),method: :delete %> 
  

      
  <hr>       
</div>
<% end %>


<div class = "user_subtitle_new">
<hr>
<div class="video_screen"> Song.name </div>

<hr>
<%# radioParent %>

<div class="genre_parent">

  <div class="genre_style_parent">
      <button class="genre_name">Love Mix</button>
          <button class="genre_switch">ON/OFF</button>

      <button class="genre_name">Island Mix</button>
          <button class="genre_switch">ON/OFF</button>

      <button class="genre_name">NYC Mix</button>
          <button class="genre_switch">ON/OFF</button>

      <button class="genre_name">Cali Mix</button>
          <button class="genre_switch">ON/OFF</button>

      <button class="genre_name"> 420 Mix </button>
          <button class="genre_switch">ON/OFF</button>

      <button class="genre_name">90s Classics
          <button class="genre_switch">ON/OFF</button>

      <button class="genre_name">Instrumentals</button>
          <button class="genre_switch">ON/OFF</button>

  </div>          
</div>


















<%# radio_Parent ENDS %>









<br>
<img class="queen"src="https://thumbs.gfycat.com/LonelySecondaryAracari-size_restricted.gif">
<%# queen....changed %>

</div>
<br>
<div class = "user_subtitle">

</div>

        <a href="https://fischercompany-my.sharepoint.com/personal/ffischer_fischercompany_com/Documents/Forms/All.aspx?slrid=69cca89e-707e-7000-5e96-20eb33e0ba71&RootFolder=%2Fpersonal%2Fffischer_fischercompany_com%2FDocuments%2FRecordings%20-%20Pair%20Programming&FolderCTID=0x0120009BE551A94CE5C64BBCD109718471F1E7"><div class="nav_child"> Instuctions for Usage </div></a>
   
  </body>