







<h1 class="vmh1"> You Are Now Logged In!! </h1>
<img class="empower"src="https://thumbs.gfycat.com/PerkyIdolizedJuliabutterfly-size_restricted.gif">
<h2 class="ninja_greet"> <%= @current_user.name %>,</h2> 
 
<br>   
  
<button class="button"><%=link_to "Log-Out", session_path("Logout"), method: :delete%></button>



<button class="button"><%=link_to "Profile Page", new_user_path%></button>
  