
<h1> You Are Now Logged In!! Greetings  <%= @current_user.name %>,</h1> 
 
<h3>Are you " <%= @current_user.email %> " ? .Wrong Email?  
<br>   
<%=link_to "Profile Page", new_user_path%>
  

<%=link_to "Log-Out", session_path("Logout"), method: :delete%>
  