







<h1 class="vmh1"> You Are Now Logged In!! </h1>

<img class="pose_ninja" src="https://uploads.ungrounded.net/alternate/903000/903466_alternate_25399_r1.zip/img/ninja.gif"> 

<h2 class="ninja_greet"> <%= @current_user.name %>,</h2> 
 
<br>   
  
<button class="button"><%=link_to "Log-Out", session_path("Logout"), method: :delete%></button>



<button class="button"><%=link_to "Profile Page", new_user_path%></button>
  