
<h1> Welcome <%= @current_user %>,</h1> 
 
<h3>You are Currently Logged In as " <%= @current_user %> ". Wrong Email?     
  Continue to User Show Page

  maybe this page has not meaning
  

<%=link_to @current_user, new_session_path%>
  