// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.empower {
  width: 50px;
  height: 100px;

}

.queen {
  margin: 5px;
  position: absolute;
  width: 295px;
}

.genre_parent {
  display: flex;
  flex-wrap: wrap;

}

.genre_name {
  border: solid white;
  margin: 10px;
  border-width: 2px;
  text-align: center;
  font-size: 22px;
  padding: 15px;
  width: auto;
  border-radius: 15px;
  background-color: pink;
}

.genre_name:hover {
  border: solid white;
  margin: 10px;
  border-width: 2px;
  text-align: center;
  font-size: 22px;
  padding: 15px;
  width: auto;
  border-radius: 15px;
  background-color: green;
}

.genre_switch {
  border: solid green;
  margin: 2px;
  border-width: .5px;
  text-align: center;
  font-size: 12px;
  padding: 5px;
  width: 85px;
  border-radius: 15px;
  background-color: purple;
}

.genre_switch:hover {
  border: solid green;
  margin: 2px;
  border-width: .5px;
  text-align: center;
  font-size: 12px;
  padding: 5px;
  width: 85px;
  border-radius: 15px;
  background-color: yellow;
}

.video_screen {
  border: double white;
  color: white;
  font-size: 12px;
  font-family: cursive;
  border-width: 4px;
  padding: 35px;
  height: 13em;
  width: auto;
  background-image: url("http://nebula.wsimg.com/b03410fbc7c82bf5bf3fa17eca62541e?AccessKeyId=8557E7E4A7E70935F1D9&disposition=0&alloworigin=1");
}

.video_screen:hover {
  border: double white;
  border-width: 4px;
  padding: 35px;
  height: 16em;
  width: auto;
  background-image: url("http://png.clipart-library.com/images4/2/beyonce-transparent-single-lady-2.gif");
  transition: 5s;

}

.genre_style_parent {
  border: double white;
  border-width: 5px;
  padding: 10px;
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/disp/cd514331234507.564a1d2324e4e.gif")
}

.emp_logo {
  // position: absolute;
  margin-top: 10px;
  width: 5;
  height: 55px;
  // margin-left: 20%;
}

.vmh1 {
  color: lightgray;
}