body {
  background-color: plum;
}

.home_button {
  border: solid black;
  width: 20%;
  height: 35px;
  border-radius: 35px;
  padding: 18px;
  font-size: 20px;
  border: solid green;
  justify-content: center;

}

.user_title {
  font-size: 40px;
  color: purple;
  margin-left: 35%;
}

.user_email {
  font-size: 40px;
  color: purple;
  margin-top: 200px;
}

.spacing {
  margin: 25px;
}

.navBar {
  margin: 10px;
  height: 50px;
  width: 95%;
  height: 170px;
  padding: 7px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.radio_button {
  margin-left: 25px;
  ;
}

.nav_child {
  border: solid blue;
  border-width: .5px;
  background-color: lemonchiffon;
  padding: 15px;
  justify-content: space-around;
  margin: 5px;
  border-radius: 15px;
  font-size: 25px;
  height: 35px;
  text-decoration: none;
}

.ninja {
  position: absolute;
  border: white;
}



.nav_child:hover {

  border: solid rgb(85, 83, 67);
  border-width: 5px;
  background-color: lightgray;
  padding: 8px;
  justify-content: space-around;
  margin: 5px;
  border-radius: 15px;
  transition: .5s;
  font-size: 20px;
}

.user_subtitle {
  border: solid white;
  padding: 35px;
  border-width: 1px;

}

.user_subtitle2 {
  color: purple;
  border: solid white;
  background-color: lightgray;
  border-radius: 15px;
  border-width: 2px;
  text-align: center;
  padding: 10px;
}

.user_glam {
  font-size: 40px;
  color: purple;
  border: solid white;
  background-color: lightgray;
  border-radius: 15px;
  border-width: 2px;
  text-align: center;
  padding: 10px;


}

.snippet_parent {
  padding: 15px;
  margin-bottom: 20px;
  font-size: 45px;
}

.test_mssg {
  margin-top: 400px;
}

.main_login {
  border-radius: 35px;
  padding: 20px;
  align-items: center;
  width: 500px;
  // margin-left:30%;
  font-size: 22px;
  margin-top: 5%;
  text-align: center;

  border-width: 2px;

}


.error_handle {
  color: red;
  font-size: 20px;
}

.main_login2 {
  // border: solid blue;
  border-radius: 35px;
  padding-left: 5px;
  text-align: center;
  width: 500px;
  // margin-left:30%;
  font-size: 48px;
  margin-top: 5%;
}

.lash_logo {
  border: double purple;
  padding: 15px;
  border-radius: 15px;
  // margin-left: 30%;
  width: auto;
  // display: flex;
}