// Place all the styles related to the VM_Module controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  padding: 30px;
}

.vmh1 {
  color: purple;
  font-size: 60px;
  padding: 20px;
  border: double purple;
  border-width: 4px;
  text-align: center;
  ;

}

.pose_ninja {
  width: 30%;
  height: auto;
  margin-left: 30%;
  // position:absolute;
}

.ninja_greet {
  font-size: 65px;
  position: absolute;
  border: solid purple;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  color: white;
  font-family: serif;


}

.button_parent {
  display: flex;
}

.button {
  font-size: 25px;
  padding: 15px;
  border: double purple;
  border-radius: 10px;
  border-width: 6px;
  margin-left: 3%;
  background-image: url("https://media.giphy.com/media/xnRilboCF81EY/giphy.gif");
  background-size: cover;
}