// Place all the styles related to the VM_Module controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.vmh1{
  color:green;
  font-size:60px;
  padding:20px;

}
.pose_ninja{
  width:30%;
  height:auto;
  margin-left:30%;
  // position:absolute;
}
.ninja_greet{
 font-family: cursive;
 font-size:35px;
 margin-left: 40%;

}
.button{
  font-size:25px;
  padding:15px;
  background-color:lemonchiffon;
  border:solid white;
  border-radius:10px;
  margin-left:30%;

}
